@font-face {
    font-family: "源雲明體";
    src: url('./font/GenWanMin\ TW\ SemiBold.woff')format("woff")
}

html,
body {
    font-family: "源雲明體";
    height: 100%;
    margin: 0;
}

.wrapped {
    min-height: 100%;

}


.logo {
    width: 246px;
    height: 46px;
}

.YT {
    width: 54px;
    height: 54px;
}

.FB {
    width: 54px;
    height: 54px;
}



.nav-link{
    font-family: "GenWanMin TW TTF";
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    transition: all .3s linear;
}
.nav-line{
    width: 0%;
    height: 2px;
    background: linear-gradient(94deg, #78B3F6 0%, #6297FF 96.07%);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .3s linear;
}
.nav-link:hover{
    color: #6EA6FA;
}

.nav-link:hover .nav-line{
    width:100%;
}


/*漸層色大標*/
h1 {
    background: linear-gradient(94deg, #78B3F6 0%, #6297FF 96.07%);
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "源雲明體";
    font-size: 80px !important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
/*主頁次標(英文)+System頁小標*/
h2 {
    color: #2E2E2E;
    /*text-align: center;*/
    font-family: "源雲明體";
    font-size: 60px !important;
    font-style: normal;
    font-weight: 500 !important;
    line-height: normal;
    letter-spacing: 6.72px;
    text-transform: uppercase;
}
/*各分頁開頭英文小標*/
h4 {
    color: #2E2E2E;
    text-align: center;
    text-align: center;
    font-family: "源雲明體";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 6.72px;
    text-transform: uppercase;
}
/*內文*/
.h5 {
    color: #364246;
    /*text-align: center;*/
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold !important;
    line-height: 200% !important;
    letter-spacing: 6.72px;
    text-transform: uppercase;
}
/*p {
    color: #2E2E2E;
    font-family: Noto Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 6.72px;
    text-transform: uppercase;
}*/


.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.download {
    display: inline-block;
    position: relative;
    z-index: 1;
    min-width: 180px;
    background-image: linear-gradient(to top left, #6297FF, #78B3F6) !important;
    border: 0px;
    border-radius: 20px;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    padding: 10px 30px;
    margin-top: 5px;
}

.download span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: white;
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}
.download:hover,
.download:focus {
    color: black;
}
.download:hover span {
    transform: translateY(0) scale(2);
}
.download span:nth-child(1) {
    --n: 1;
}
.download span:nth-child(2) {
    --n: 2;
}
.download span:nth-child(3) {
    --n: 3;
}
.download span:nth-child(4) {
    --n: 4;
}

.YT, .FB, .nav-brand {
    transition: all .2s linear;
}

.YT:hover, .FB:hover, .nav-brand:hover {
    opacity: 50%;
}

.YT:active, .FB:active, .nav-brand:active {
    opacity: 100%;
}

/*TOP*/
.TitleCharacter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TitleCharacter p {
    color: #364246;
    font-family: "GenWanMin TW TTF";
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.title {
    margin-top: 100px;
}

.top {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}



.cover {
    width: 100%;
    height: auto;
}

.subtitle {
    position: absolute;
    z-index: 1;
    top: 75%;
    color: white;
    /* Optional: Set text color to contrast with the image */
    font-weight: bold;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    /* Add a shadow with 2px horizontal, 2px vertical, and 4px blur */
    letter-spacing: 3px;
}

/*story*/

.sky {
    margin-right: 5%;
}

.TitleStory {
    color: #364246;
    font-family: "GenWanMin TW TTF";
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*.StoryContent p{
    color: #364246;
    text-align: center;
    font-family: Noto Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 152%; /* 36.48px */
/*letter-spacing: 3.12px;
}
.StoryContent h2{     
        background: linear-gradient(91deg, #79B4F7 19.86%, #659AFF 77.56%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        flex-shrink: 0;
        font-family: GenWanMin TW TTF;
        font-size: 96px;
        font-style: normal;
        font-weight: 600;
        line-height: 152%;
        letter-spacing: 12.48px;
        text-align: center;
}*/
/*.text{
    font-size: 20px;
    line-height: 200%;
    letter-spacing: 3px;
}*/


/*movie*/
.content {
    bottom: 5%;
}


.line {
    width: 30%;
    height: 3px;
    background-color: #E2E7E8;
}

.MoviePv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto;


}

.popup-youtube {
    width: 1160px;
    height: 586px;
    box-shadow: 10px 10px 0px 0px #9DBBF6;
    background: url("Images/PvSubnail.png");
    background-size: cover;
    /* 将背景图片放大以填满视口 */
    background-repeat: no-repeat;
    /* 防止图片重复 */
    background-position: center center;
}

/*.SystemContent h2 {
    color: #2E2E2E;
    font-family: GenWanMin TW TTF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 6.72px;
    text-transform: uppercase;
}

.SystemContent p {
    color: #2E2E2E;
    font-family: Noto Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 52px;
    /* 216.667% */
 /*   letter-spacing: 3px;
    text-transform: uppercase;
}*/

.Choice {
    margin-top: 220px;
    background-color: #2E2E2E;
    color: #ffffff;
    font-family: GenWanMin TW TTF;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 6.4px;
    text-align: center;

}

.Charatitle h2 {
    color: #2F3031;
    font-family: GenWanMin TW TTF;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
}

.Charatitle p {
    color: #2F3031;
    text-align: center;
    font-family: Noto Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 55px;
    /* 152.778% */
    letter-spacing: 2.88px;
    text-transform: uppercase;
}